<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Randy Bradshaw. 
                It uses data from mapbox.com and weatherstack.com.
                 Oh, and here's a picture of Leo. I couldn't resist. He's been a HUGE help as I've experimented with this stuff.</p>
            <img class="portrait" src="/img/Leo.jpg">
        </div>
        {{>footer}}
    </body>
</html>